<div class="product-quantity">
  <button type="button" class="quantity-decrease">-</button>
  <input type="number" name="quantity" value="1" class="quantity-total">
  <button type="button" class="quantity-increase">+</button>
</div>
