/* collection section css start */

.section.collection-section {
    padding-top: 20px;
}

.collection-section .container {
    max-width: 100%;
}

.collection-filter {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    top: 0;
    left: -100%;
    width: 100%;
    transition: all ease .3s;
}

.collection-filter.active {
    left: 0;
}

.collection-content {
    width: 100%;
}

.collection-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

.collection-filter-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.filter-open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12.5px 20px;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--paragraph-font);
    background-color: var(--brand-color);
    cursor: pointer;
}

.collection-tags {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: sticky;
    top: 158px;
    left: 0;
    height: fit-content;
    background: #faf5f5;
    z-index: 2;
    overflow-x: auto;
    scrollbar-width: thin;
}

.collection-tags .btn {
    border: 1px solid var(--brand-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.collection-tags .btn.active {
    background-color: var(--brand-color);
    color: var(--white);
}

/* collection filter css start */

.filter-select-field {
    position: relative;
    border: 1px solid var(--border-color);
    display: inline-block;
}

.filter-select-field select {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--paragraph-font);
    padding: 10px 60px 11px 10px;
    line-height: 21px;
    border: none;
    height: 46px;
}

.filter-select-field-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: -1;
    display: flex;
}

.filter-select-field-icon svg {
    width: 12px;
    height: 12px;
}

.filter-select-field-icon svg path {
    fill: var(--black);
}

.filter-box {
    position: relative;
    background-color: var(--white);
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    width: 340px;
    z-index: 2;
    height: 100dvh;
    border-radius: 0;
    padding: 20px;
}

.filter-sidebar-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 20px 10px;
    border-bottom: 1px solid var(--border-color);
    font-family: var(--paragraph-font);
}

.filter-close-btn {
    cursor: pointer;
    display: flex;
}

.filter-window-close-btn {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all ease .3s;
    user-select: none;
}

.collection-filter.active .filter-window-close-btn {
    opacity: 1;
    visibility: visible;
}

.filter-accordion {
    height: calc(100% - 60px);
    overflow-y: auto;
    scrollbar-width: thin;
    margin: 10px 0 0 0;
}

.filter-accordion-item {
    border-bottom: 1px solid var(--border-color);
    margin: 0 0 10px 0;
}

.filter-accordion-item:last-child {
    margin: 0;
    border-bottom: 0;
}

.filter-accordion-item:last-child {
    margin: 0;
    border-bottom: 0;
}

.filter-accordion-item .item-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px;
    background: var(--section-bg);
    margin: 0 0 10px 0;
}

.filter-accordion-item .item-title-wrapper .item-title {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    user-select: none;
    font-family: var(--paragraph-font);
}

.filter-accordion-item .item-title-wrapper .icon {
    display: flex;
}

.filter-accordion-item .item-title-wrapper .icon svg {
    width: 12px;
    height: 12px;
    transition: all ease .3s;
}

.filter-accordion-item .item-title-wrapper .icon svg path {
    fill: var(--black);
}

.filter-accordion-item.active .item-title-wrapper .icon svg {
    transform: rotate(180deg);
}

.filter-accordion-item-content {
    margin: 0 10px 10px 10px;
}

.filter-options-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
}

.selection-number,
.reset-btn,
.filter-item-number {
    color: var(--brand-color);
    font-size: 14px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    text-transform: capitalize;
}

.filter-options {
    margin: 0 0 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-options:last-child {
    margin: 0;
}

.filter-option {
    display: block;
}

.filter-option input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.filter-option label {
    position: relative;
    cursor: pointer;
    color: var(--black);
    font-size: 14px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    text-transform: capitalize;
    user-select: none;
}

.filter-option label:before {
    content: '';
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid var(--border-color);
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 4px;
}

.filter-option input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 8px;
    width: 5px;
    height: 12px;
    border: solid var(--brand-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.filter-option.color-yellow label:before {
    background-color: #FFD700;
}

.filter-option.color-white label:before {
    background-color: #fff;
}

.filter-option.color-red label:before {
    background-color: #FF0000;
}

.filter-option.color-blue label:before {
    background-color: #0000ff;
}

.filter-option.color-green label:before {
    background-color: #008000;
}

.filter-price-range-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
}

.price-range-field input {
    border: 1px solid var(--border-color);
    height: 45px;
    width: 100%;
    padding: 0 10px;
}

.price-range-field input::placeholder {
    color: var(--text-muted);
}

.price-range-field input:focus {
    border-color: var(--black);
}

/* collection filter css end */

.product-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 40px;
}

.collection-content .pagination {
    margin: 50px 0 0 0;
}

/* collection section css end */

@media only screen and (max-width: 992px) {

    /* colection section css start */
    .product-items {
        grid-template-columns: repeat(2, 1fr);
    }

    /* colection section css end */
}

@media only screen and (max-width: 767px) {

    /* colection section css start */
    .product-items {
        column-gap: 16px;
        row-gap: 24px;
    }

    /* colection section css end */
}

@media only screen and (max-width: 575px) {

    /* colection section css start */
    .product-items {
        column-gap: 10px;
        row-gap: 20px;
    }

    .collection-filter-btn {
        gap: 10px;
    }

    .filter-open-btn {
        gap: 5px;
        padding: 13px 14px;
        font-size: 14px;
        font-weight: 500;
    }

    .filter-open-btn svg {
        width: 16px;
        height: 16px;
    }

    .filter-select-field select {
        font-size: 14px;
        font-weight: 500;
        padding: 6px 30px 6px 10px;
        height: 42px;
    }

    .filter-select-field-icon {
        right: 10px;
    }

    .collection-content .pagination {
        margin: 30px 0 0 0;
    }

    /* colection section css end */
}