.section {
    display: block !important;
}


.shopify-policy__container {
    margin: 50px auto;
    max-width: 900px;
}

.shopify-policy__body h1 {
    font-size: 35px;
    margin-bottom: 15px;

}

.shopify-policy__body h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 500;
}

.shopify-policy__body h3 {
    font-size: 24px;
    margin-bottom: 15px;
    letter-spacing: normal;
}

.shopify-policy__body h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

.shopify-policy__body h5 {
    font-size: 21px;
    margin-bottom: 15px;
}

.shopify-policy__body h6 {
    font-size: 18px;
    margin-bottom: 15px;
}

.shopify-policy__body ul {
    padding-left: 30px;
    list-style: disc;
}

.shopify-policy__body ol {
    list-style: decimal;
}

.shopify-policy__body p,
.shopify-policy__body ul {
    margin-bottom: 15px;
    letter-spacing: normal;
}

.shopify-policy__body {
    margin-top: 25px;
}

.shopify-policy__title {
    text-align: center;

}

.shopify-policy__title h1 {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: capitalize;

}

.shopify-policy__body hr {
    margin: 25px 0;
}


.product-varient-title.size_guide_heading {
    justify-content: right;
    height: 0;
}

.product-varient-title-wrap.size_guide {
    margin: 0;
}

.buynow button {
    width: 100% !important;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-size: 16px;
    border: var(--brand-color2) 2px solid;
    background: transparent;
    color: var(--brand-color2);
    padding: 22px 0 !important;
}

.buynow button:hover {
    background: var(--brand-color) !important;
    color: white;
    border: var(--brand-color) 2px solid;
}

form#ContactForm-AcGN3YnNvTGFCd3BWS__contact_form_UwiCkQ button {
    border-radius: 0 !important;
    transition: 0.3s ease-in-out;

}

form#ContactForm-AcGN3YnNvTGFCd3BWS__contact_form_UwiCkQ button:hover {
    background: red;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-content {
    margin-bottom: 10px;
}

.contact-form__input{
    outline:none !important;
}
.submit-button{
    border-radius:0px;
}