/* common css start */
/* import fonts-- */
@font-face {
    font-family: 'Jost';
    src: url('./Jost-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Jost';
    src: url('./Jost-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Jost';
    src: url('./Jost-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Jost';
    src: url('./Jost-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Jost';
    src: url('./Jost-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Jost';
    src: url('./Jost-ExtraBold.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Jost';
    src: url('./Jost-Black.woff') format('woff');
    font-weight: 900;
}

/* colors */
:root {
    /* color */
    --black: #000000;
    --white: #ffffff;
    --heading-text-color: #000000;
    --paragraph-text-color: #000000;
    --brand-color: #000000;
    --body-color: #ffffff;
    --item-bg: #F5F5F5;
    --item-bg2: #ff0000;
    --section-bg: #f4f4f4;
    --card-bg: #dcdcdc;
    --border-color: #dddddd;
    --text-muted: #777777;
    --btn-color: #ffffff;
    --btn-bg: #000000;
    --card-badge-bg: #000000;

    /* font family */
    --heading-font: "Jost", serif;
    --paragraph-font: "Jost", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--paragraph-font);
    background-color: var(--body-color);
    transition: all ease 2s;
    margin: 112px 0 0 0;
    letter-spacing: 0.2px;
}

body.active {
    overflow: hidden;
    transition: all ease 2s;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    transition: ease .3s;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
    font-family: var(--heading-font);
    color: var(--heading-text-color);
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 38px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

h4 {
    font-size: 26px;
    font-weight: 600;
}

h5 {
    font-size: 22px;
    font-weight: 600;
}

h6 {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    margin: 0;
    line-height: 22px;
}

.container {
    max-width: 1480px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 80px 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* input css start */
input,
textarea,
select {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--paragraph-font);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    width: 100%;
    height: 48px;
    padding: 0 10px;
    border: 1px solid var(--border-color);
}

textarea {
    height: auto;
    padding: 16px 10px;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--text-muted);
    text-transform: capitalize;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input:hover,
textarea:hover,
select:hover {
    border-color: var(--brand-color);
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--brand-color);
}

input[type="file"] {
    width: fit-content;
    height: auto;
    border: none;
    outline: none;
}

/* input css end */


/* button css start */
button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    transition: ease .3s;
    color: var(--btn-color);
    font-family: var(--paragraph-font);
    font-size: 16px;
    font-weight: 400;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 10.5px 30px;
    transition: ease .3s;
    font-family: var(--paragraph-font);
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
    text-wrap-mode: nowrap;
}

.btn:hover {
    text-decoration: none;
}

.primary-btn {
    color: var(--btn-color);
    position: relative;
    overflow: hidden;
    background-color: var(--btn-bg);
    border: 2px solid var(--btn-bg);
}

.primary-btn span,
.secondary-btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.primary-btn span {
    background-color: var(--btn-color);
}

.primary-btn:hover {
    color: var(--btn-bg);
}

.primary-btn:hover span,
.secondary-btn:hover span {
    width: 225%;
    height: 562.5px;
}

.primary-btn:active {
    background-color: var(--btn-color);
}

.secondary-btn {
    color: var(--btn-bg);
    position: relative;
    overflow: hidden;
    background-color: var(--btn-color);
    border: 2px solid var(--btn-bg);
}

.secondary-btn span {
    background-color: var(--btn-bg);
}

.secondary-btn:hover {
    color: var(--btn-color);
}

.secondary-btn:active {
    background-color: var(--btn-bg);
}

/* button css end */

/* section heading css start */
.section-heading-wrapper {
    margin-bottom: 30px;
    text-align: center;
}

.section-sub-heading {
    text-transform: capitalize;
    margin: 0 0 10px 0;
}

.section-heading {
    color: var(--heading-text-color);
    text-transform: uppercase;
    font-weight: 400;
}

.section-heading em {
    font-style: normal;
    color: var(--brand-color);
    font-weight: 700;
}

.section-heading-text {
    color: var(--paragraph-text-color);
    padding: 10px 0 0 0;
    max-width: 600px;
    margin: 0 auto;
}

.section-heading-text a {
    color: var(--paragraph-text-color);
    font-weight: 700;
}

.section-heading-text a:hover {
    text-decoration: underline;
}

.section-btn {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
}

.section-btn .btn {
    padding: 10.5px 46px;
}

.section-bg {
    background-color: var(--section-bg);
}

/* section heading css end */

/* swiper pagination and button css start */
.swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: var(--black);
    position: relative;
    opacity: 1;
    overflow: hidden;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    transition: all ease .3s;
}

.swiper-pagination .swiper-pagination-bullet-active.swiper-pagination-bullet {
    width: 24px;
}

.swiper-pagination .swiper-pagination-bullet::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: var(--btn-bg);
    transition: ease .5s;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.swiper-pagination .swiper-pagination-bullet-active.swiper-pagination-bullet::after {
    opacity: 1;
    visibility: visible;
}

.swiper-button-prev,
.swiper-button-next {
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-color3);
    color: var(--paragraph-text-color);
    background-color: var(--btn-color);
    transition: ease .3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border-color: var(--btn-bg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
    color: var(--paragraph-text-color);
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    color: var(--btn-color);
}

.swiper-button-next {
    right: -100px;
    opacity: 0;
    visibility: hidden;
}

.swiper-button-prev {
    left: -100px;
    opacity: 1;
    visibility: visible;
}

.swiper:hover .swiper-button-prev {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.swiper:hover .swiper-button-next {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none;
}

/* swiper pagination and button css end */

/* social icon css start */
.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: all ease .3s;
    border: 1px solid var(--border-color);
}

.social-icons li a:hover {
    background: var(--border-color);
}

.social-icons li a svg {
    fill: var(--black);
    width: 16px;
    height: 16px;
}

/* social icon css end */

/* cart-sidebar css start */
.cart-sidebar {
    height: 100dvh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9999;
    transition: all ease .2s;
    opacity: 0;
    visibility: hidden;
}

.cart-sidebar.active {
    opacity: 1;
    visibility: visible;
}

.cart-sidebar-close-window-btn {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    height: 100dvh;
}

.cart-sidebar-box {
    background-color: var(--white);
    position: absolute;
    width: 500px;
    height: 100dvh;
    z-index: 2;
    right: 0;
    top: 0;
    transition: all ease .3s;
    transform: translateX(100%);
    z-index: 999999;
}

.cart-sidebar.active .cart-sidebar-box {
    transform: translateX(0);
    transition: all ease .5s;
}

.side-cart-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--brand-color);
    height: 50px;
}

.side-cart-heading {
    color: var(--white);
    font-family: var(--paragraph-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
}

.side-cart-heading-icon-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-cart-heading-icon-wrap .icon i {
    color: var(--white);
    font-size: 20px;
}

.side-cart-item-number {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brand-color);
    font-family: var(--paragraph-font);
    font-size: 12px;
    font-weight: 800;
    line-height: 1;
}

.side-cart-close-btn {
    display: flex;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: ease .3s;
    color: var(--white);
    font-size: 20px;
}

/* side-cart empty css start */
.side-cart-empty {
    overflow-y: auto;
    height: calc(100dvh - 50px);
    scrollbar-width: thin;
}

.side-cart-empty-text {
    padding: 60px 20px 50px 20px;
    text-align: center;
}

.cart-sidebar-box.active .side-cart-empty {
    display: none;
}

.side-cart-slider-wrapper {
    text-align: center;
}

.side-cart-slider-title {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px 0;
    text-transform: capitalize;
}

.swiper.side-cart-slider {
    padding: 0 0 50px 0;
    margin: 0 0 0 20px;
}

.side-cart-slider-wrapper .card-btn .btn {
    padding: 8;
    font-size: 12px;
}

/* side-cart empty css end */

/* side-cart-product-content css start */
.side-cart-product-content {
    display: none;
}

.cart-sidebar-box.active .side-cart-product-content {
    display: block;
}

.side-cart-product-item-wrapper {
    padding: 20px;
}

.side-cart-progress-bar-area {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.side-cart-progress-bar-text {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 5px 0;
}

.side-cart-progress-bar-text strong {
    color: var(--brand-color);
}

.side-cart-progress-bar-area .progress {
    background: linear-gradient(to right, rgb(133 168 104) 0%, rgb(133 168 104) 60%, rgb(216, 216, 216) 60%, rgb(216, 216, 216) 100%);
    height: 5px;
    width: 100%;
    transition: background 450ms ease-in;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 25px 0 0 0;
    display: block;
    cursor: not-allowed;
    border: none;
}

.side-cart-progress-bar-area .progress::-webkit-slider-thumb {
    position: relative;
    top: -14px;
    width: 35px;
    height: 35px;
    appearance: none;
    -webkit-appearance: none;
    cursor: default;
    background-image: url('../images/progress-bar-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: not-allowed;
}

.side-cart-progress-bar-area .progress::-moz-range-thumb {
    position: relative;
    top: -14px;
    width: 35px;
    height: 35px;
    appearance: none;
    -moz-appearance: none;
    cursor: default;
    background-image: url('../images/progress-bar-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: not-allowed;
}

.side-cart-product-item-wrapper {
    overflow-y: auto;
    padding: 20px;
    height: calc(100dvh - 380px);
    scrollbar-width: thin;
}

.side-cart-product-item-wrapper .cart-product-items {
    margin: 0;
}

.side-cart-product-item-wrapper .cart-product-img {
    width: 30%;
}

.side-cart-product-item-wrapper .cart-product-content {
    width: 68%;
}

.side-cart-product-content-footer {
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--white);
    border-top: 1px solid var(--border-color);
}

.side-cart-product-price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.side-cart-product-price-wrap p {
    font-weight: 600;
    text-transform: capitalize;
}

.side-cart-checkout-btn {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-cart-checkout-btn .btn {
    width: 100%;
}

.side-cart-checkout-text {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 14px;
}

/* side-cart-product-content css end */
/* cart-sidebar css end */

/* common css end */

@media only screen and (max-width: 992px) {

    /* common css start */
    .section-btn {
        margin: 30px 0 0 0;
    }

    .section {
        padding: 40px 0;
    }

    body {
        margin: 62px 0 0 0;
    }

    /* common css end */
}


@media only screen and (max-width:767px) {

    /* common css start */
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 22px;
        font-weight: 600;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .section {
        padding: 30px 0;
    }

    .section-heading-wrapper {
        margin-bottom: 25px;
    }

    .section-btn {
        margin: 25px 0 0 0;
    }

    /* common css end */
}

@media only screen and (max-width: 575px) {

    /* common css start */
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
        font-weight: 600;
    }

    h5 {
        font-size: 19px;
        font-weight: 600;
    }

    h6 {
        font-size: 18px;
    }

    body {
        margin: 56px 0 0 0;
    }

    .section {
        padding: 25px 0;
    }

    .btn {
        padding: 10px 24px;
        font-size: 14px;
    }

    input,
    textarea,
    select {
        font-size: 14px;
    }

    input,
    select {
        height: 44px;
    }

    .section-heading-wrapper {
        margin-bottom: 20px;
    }

    .section-btn {
        margin: 20px 0 0 0;
    }

    .section-btn .btn {
        padding: 10px 34px;
    }

    /* pagination css start */
    .swiper-button-prev,
    .swiper-button-next {
        width: 35px;
        height: 35px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 12px;
    }

    /* pagination css end */

    /* side-cart css start */
    .cart-sidebar-box {
        width: 375px;
    }

    .side-cart-empty-text {
        padding: 60px 15px 50px 15px;
    }

    .side-cart-icon-item-wrapper {
        padding: 50px 15px 30px 15px;
    }

    .swiper.side-cart-slider {
        margin: 0 0 0 15px;
    }

    .side-cart-slider-title {
        font-size: 20px;
    }

    .side-cart-product-item-wrapper {
        padding: 15px;
    }

    .side-cart-progress-bar-area {
        padding: 15px;
    }

    .side-cart-product-content-footer {
        padding: 15px;
    }

    .side-cart-checkout-btn {
        margin: 15px 0 0 0;
    }

    .side-cart-checkout-text {
        margin: 15px 0 0 0;
    }

    /* side-cart css end */
    /* common css end */
}